<h3>Popular tags:</h3>
<div class="row">
    <div class="col-md-12">
        <span class="label label-info">perl</span>
        <span class="label label-warning">python</span>
        <span class="label label-danger">TechnoPark</span>
        <span class="label label-info">perl</span>

        <span class="label label-danger">TechnoPark</span>
        <span class="label label-warning">python</span>
        <span class="label label-info">perl</span>

        <span class="label label-info">perl</span>
        <span class="label label-warning">python</span>
        <span class="label label-danger">TechnoPark</span>

        <span class="label label-warning">python</span>
        <span class="label label-danger">TechnoPark</span>
        <span class="label label-info">perl</span>
        <span class="label label-warning">python</span>
        <span class="label label-danger">TechnoPark</span>
    </div>
</div>
<h3>Best members:</h3>
<div class="row">
    <div class="col-md-12">
        <a href="#">Mr.Freeman</a><br/>
        <a href="#">Dr.House</a><br/>
        <a href="#">Bender</a><br/>
        <a href="#">Queen Victoria</a><br/>
        <a href="#">V.Pupkin</a><br/>
        <a href="#">Mr.Freeman</a><br/>
    </div>
</div>