{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Settings: {{ user.username }}</h3><br/>

            <form method="post" action="{% url 'user_settings_update' %}" class="form-horizontal" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2">Email</label>

                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" id="inputPassword3"
                               placeholder="email" value="{{ user.email }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAvatar" class="col-sm-2">Upload avatar</label>

                    <div class="col-sm-10">
                        <img class="img-thumbnail" src="http://placehold.it/100x80" alt=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2"></label>

                    <div class="col-sm-10">
                        <input class="form-control" type="file" name="" value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}